<!DOCTYPE html>
<html>

<head>
    <title>Mapa</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link src="https://ajax.googleapis.com/ajax/libs/jqueremaily/3.1.0/jquery.min.js">
    </link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </link>
    <link src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </link>
    <style>
        #map {
          height: 100%;
        }
    
        html,
        body {
          height: 100%;
          padding-top: 0.0625em;
        }
    
        .container {
          left: 0.625em;
          max-width: 95%;
          height: 35em;
          border: 0.125em solid #000000;
          padding: 0.125em;
          margin: auto;
        }

        .grpbotao button{
            cursor: pointer; 
            justify-content: center; 
            margin-left:5em; 
            width: 10em;

        }
      </style>
</head>

<body>
    <div style="align-content: center;">
        <label style="margin-right: 45%;">
            <img src="/logoufrj" />
        </label>
        <label>
            <img src="/logocorona" />
        </label>
        <h2 style="color: black; text-align: center;"><b>Mapeamento de ocorrências do Novo Coronavírus (2019-nCoV) no estado do Rio de Janeiro</b></h2> 

    </div>


    <div style="background-image: linear-gradient(to bottom right, #A6AFBF, #dce8fe, #A6AFBF);">
        <br>
        <h4 style="color: black;font-weight:bold;margin-left: 3em;">
            Legenda:   
            <span style="color: black">Óbito</span>        
            <span style="color: green">Cura</span> 
            <span style="color: red">Sintomático</span>   
            <span style="color: blue">Ignorado</span>
        </h4>
        <div class="container">
             <div id="map"></div><br>
                <div class="grpbotao">
                    <button class="btn btn-info" onclick="Obito()">Óbito</button>
                    <button class="btn btn-info" onclick="Cura()">Cura</button>    
                    <button class="btn btn-info" onclick="Sintomatico()">Sintomático</button>
                    <button class="btn btn-info" onclick="Ignorado()">Ignorado</button>
                    <button class="btn btn-info" onclick="Restart()">Reiniciar</button>
                </div>
        </div> 
        <br>
        <br>
        <br>  
        <br>
        

        <button onclick="window.location.href='/'" style="display: flex; justify-content: center; margin-left: 40em; width: 10em;" name="voltar" class="btn btn-info" value="voltar">Página Inicial</button>
    <br>
    </div>
    <br/>
       <div style="color: grey; font-size: medium; margin-left: 3%;"><b>
            Desenvolvido por:
            </b><img src="/logolab" style="margin-left:1%; width: 5%;" />
       </div>
       <br/>


    <script>

               /*var gradientOriginal = [
          "rgba(102, 255, 0, 0)",
          "rgba(102, 255, 0, 1)",
          "rgba(147, 255, 0, 1)",
          "rgba(193, 255, 0, 1)",
          "rgba(238, 255, 0, 1)",
          "rgba(244, 227, 0, 1)",
          "rgba(249, 198, 0, 1)",
          "rgba(255, 170, 0, 1)",
          "rgba(255, 113, 0, 1)",
          "rgba(255, 57, 0, 1)",
          "rgba(255, 0, 0, 1)"
        ]*/


        var gradientVermelho = [
            'rgba(255, 0, 0, 0)',
            'rgba(255, 0, 0, 0.7)',
            'rgba(255, 0, 0, 0.8)',
            'rgba(255, 0, 0, 0.9)',
            'rgba(255, 0, 0, 1)'
        ]

        var gradientVerde = [
            'rgba(0, 255, 0, 0)',
            'rgba(0, 255, 0, 0.1)',
            'rgba(0, 255, 0, 0.2)',
            'rgba(0, 255, 0, 0.3)',
            'rgba(0, 255, 0, 0.4)',
            'rgba(0, 255, 0, 0.5)',
            'rgba(0, 255, 0, 0.6)',
            'rgba(0, 255, 0, 0.7)',
            'rgba(0, 255, 0, 0.8)',
            'rgba(0, 255, 0, 0.9)',
            'rgba(0, 255, 0, 1)'
        ]

        var gradientAzul = [
            'rgba(0, 0, 255, 0)',
            'rgba(0, 0, 255, 0.1)',
            'rgba(0, 0, 255, 0.2)',
            'rgba(0, 0, 255, 0.3)',
            'rgba(0, 0, 255, 0.4)',
            'rgba(0, 0, 255, 0.5)',
            'rgba(0, 0, 255, 0.6)',
            'rgba(0, 0, 255, 0.7)',
            'rgba(0, 0, 255, 0.8)',
            'rgba(0, 0, 255, 0.9)',
            'rgba(0, 0, 255, 1)'
        ]

        var gradientPreto = [
            'rgba(0, 0 , 0, 0)',
            'rgba(0, 0, 0, 0.1)',
            'rgba(0, 0, 0, 0.2)',
            'rgba(0, 0, 0, 0.3)',
            'rgba(0, 0, 0, 0.4)',
            'rgba(0, 0, 0, 0.5)',
            'rgba(0, 0, 0, 0.6)',
            'rgba(0, 0, 0, 0.7)',
            'rgba(0, 0, 0, 0.8)',
            'rgba(0, 0, 0, 0.9)',
            'rgba(0, 0, 0, 1)'
        ]

        var geocoder;
        var map;
        var heatmap, heatmap2, heatmap3, heatmap4
        var situacao='todos'

        function initMap() {
            var map = new google.maps.Map(
                document.getElementById("map"), {
                center: new google.maps.LatLng(-22.8576, -43.2004),
                zoom: 10,
            });
            var coordinates = [{}];
            var geocoder = new google.maps.Geocoder();
            var bounds = new google.maps.LatLngBounds();

            function getEnderecos() {
                return new Promise(function (resolve, reject) {

                    var xhr = new XMLHttpRequest();
                    var url = 'http://' + window.location.host + '/ocorrencias/data' + '?situacao=' + situacao
                    xhr.open("GET", url, true)
                    xhr.onload = function (e) {
                        var enderecos = JSON.parse(xhr.response).data
                        resolve(enderecos)

                    }
                    xhr.send();
                })
            }

            function getLocations(enderecos) {
                var endereco_promises = []
                enderecos.forEach(e => {
                    endereco_promises.push(new Promise(function (resolve, reject) {
                        geocoder.geocode({
                            'address': e
                        }, function (results, status) {
                            if (status === 'OK') {
                                // console.log(results[0].geometry.location.lat());
                                var result = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng())
                                resolve(result)
                            } else {
                                reject(new Error('Couldnt\'t find the location ' + e));
                            }
                        })
                    }))
                })

                return endereco_promises
            }

            getEnderecos()
                .then(function (enderecos) {
                    var addressData = [new google.maps.LatLng(-22.86694, -43.28947)];
                    var addressData2 = [new google.maps.LatLng(-22.865101, -43.254965)];
                    var addressData3 = [new google.maps.LatLng(-22.8878797818, -43.2236174389)];
                    var locations = getLocations(enderecos)
                    Promise.all(locations)
                        .then(function (points) {

                            // fazer um filtro para cada situacao de saude
                            // não precisa fazer para o "Todos"
                            var SituacaoSaude = points.filter(p => {
                                // ...
                            })

                            // se situacao == 'Todos' plotar cada heatmap com cada array
                            // se não, plotar o heatmap específico
                            heatmap = new google.maps.visualization.HeatmapLayer({
                                data: points,
                                radius: 30,
                                gradient: gradientVermelho
                            });
                            heatmap.setMap(map);

                            heatmap2 = new google.maps.visualization.HeatmapLayer({
                                data: addressData,
                                radius: 30,
                                gradient: gradientVerde
                            });
                            heatmap2.setMap(map);

                            heatmap3 = new google.maps.visualization.HeatmapLayer({
                                data: addressData2,
                                radius: 30,
                                gradient: gradientAzul
                            });
                            heatmap3.setMap(map);

                            heatmap4 = new google.maps.visualization.HeatmapLayer({
                                data: addressData3,
                                radius: 30,
                                gradient: gradientPreto
                            });
                            heatmap4.setMap(map);
                            console.log(heatmap4)
                        })
                })
        }

        function Ignorado() {
            heatmap2.setMap(heatmap2.getMap() ? null : heatmap2);
            heatmap.setMap(heatmap.getMap() ? null : heatmap);
            heatmap4.setMap(heatmap4.getMap() ? null : heatmap4);
        }

        function Sintomatico() {
            heatmap2.setMap(heatmap2.getMap() ? null : heatmap2);
            heatmap3.setMap(heatmap3.getMap() ? null : heatmap3);
            heatmap4.setMap(heatmap4.getMap() ? null : heatmap4);
        }

        function Cura() {
            heatmap.setMap(heatmap.getMap() ? null : heatmap);
            heatmap3.setMap(heatmap3.getMap() ? null : heatmap3);
            heatmap4.setMap(heatmap4.getMap() ? null : heatmap4);
        }

        function Obito() {
            heatmap2.setMap(heatmap2.getMap() ? null : heatmap2);
            heatmap3.setMap(heatmap3.getMap() ? null : heatmap3);
            heatmap.setMap(heatmap.getMap() ? null : heatmap);
        }

        function Restart() {
            map = new google.maps.Map(
                document.getElementById("map"), {
                center: new google.maps.LatLng(-22.8576, -43.2004),
                zoom: 10,
            })
            initMap()
        }

        function obtemResultadoPorSituacao(sit){
            map = new google.maps.Map(
                document.getElementById("map"), {
                center: new google.maps.LatLng(-22.8576, -43.2004),
                zoom: 10,
            })
            situacao = sit
            initMap()            
        }

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBy5sPPL58np_vCYP9laO4QbJdH3WT71tc&libraries=places,visualization&callback=initMap">
        </script>
</body>

</html>